<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    
    <link rel = "stylesheet" type = "text/css" href="login_and_registration_page.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>

</head>
<body>
    <nav class="navbar navbar-inverse">
        <div class="container-fluid">
            <div class="navbar-header">
                <div class="navbar-brand">Facebook</div>
            </div>
            <ul class="nav navbar-nav">
                <li><a href="/">Home</a></li>
                <li><a href="/About">About</a></li>
                <li><a href="/Contact">Contact</a></li>
                <li><a href="">Gallary</a></li>
            </ul>
    
            <ul class="nav navbar-nav navbar-right">
                <li><a href="">Log in</a></li>
                 <li><a href="">Register</a></li>
            </ul>
        </div>
    </nav>





    <body>
        <div class="ak">
        Registration Page</div>
        <div class = "al">
        <form >
            Name:<br>
            <input type = "text"><br>
            Father's Name:<br>
            <input type = "text"><br>
            Date of birth:<br>
            <input type = "date"><br>
            Age:<br>
            <input type = "number"><br>
            Gender:<br>
            Male
            <input type = "radio" name="gen">
            Female
            <input type = "radio" name="gen">
            Others
            <input type = "radio" name="gen"><br>
            Program You like:<br>
            C
            <input type = "checkbox" name="lan"><br>
            C++
            <input type = "checkbox" name = "lan"><br>
            Java
            <input type = "checkbox" name = "lan"><br>
            Python
            <input type = "checkbox" name = "lan"><br>
            Your Email id:<br>
            <input type = "email"><br>
            Whatsapp number:<br>
            <input type = "tel"><br>
            Calling number:<br>
            <input type = "tel"><br>
            Preferred time for calling you:<br>
            <input type = "time"><br>
            Your Photo:<br>
            <input type = "file"><br>
            Submit:
            <input type="submit">Reset:
            <input type = "reset"><br>
            
    
    
            
        
        </form>
        </div>

</body>
</html>